[*.cs]

# CS8618: 退出建構函式時，不可為 Null 的欄位必須包含非 Null 值。請考慮宣告為可為 Null。
dotnet_diagnostic.CS8618.severity = none

# CS8602: 可能 null 參考的取值 (dereference)。
dotnet_diagnostic.CS8602.severity = none

# CS8619: 值中參考型別的可 Null 性與目標型別不符合。
dotnet_diagnostic.CS8619.severity = none

# CS8625: 無法將 null 常值轉換成不可為 Null 的參考型別。
dotnet_diagnostic.CS8625.severity = none

# CS8603: 可能有 Null 參考傳回。
dotnet_diagnostic.CS8603.severity = none
